* {
    box-sizing: border-box;
}

body {
    background-color: #04061C;
    margin: 0;
    padding: 0;
}

body * {
    transition: ease-in-out 1s;
}

.navbar {
    background-color: #04061C;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    box-shadow: 0 -4px 20px 1px #64ffdb5e;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.logo {
    font-family: "Calibre", -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: clamp(22px, 3vw, 30px);
    color: #E1E7FB;
    text-align: center;
    transition: 0.5s ease-in-out;
}

.ul {
    display: flex;
    justify-content: flex-end;
    flex: 1 0;
    margin: 0 3.5vw 0 0;
    padding-left: 0;
}

.li {
    list-style: none;
    padding: 25px;
    font-family: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    font-weight: 200;
    font-size: clamp(12px, 2.4vw, 18px);
    color: #E1E7FB;
    transition: 0.5s ease-in-out;
}

a {
    display: block;
    text-decoration: none;
}

.burger:hover, .li:hover {
    color: #64FFDA;
    text-decoration: underline #64FFDA;
    text-underline-offset: 10px;
    transition: 0.5s ease-in-out;
}

.logo:hover {
    color: #64FFDA;
    transition: 0.2s ease-in;
    font-size: calc(clamp(22px, 3vw, 30px) + 3px);
}

div.topnav .navlink{
    margin-left: clamp(35px, 4vw, 6vw);
}

.ul {
    display: block;
    margin-left: 3vw;
}

.burger, .navspace {
    display: none;
}

.currentpage {
    text-decoration: underline #64FFDA;
    text-underline-offset: 10px;
}

@media screen and (max-width: 760px) {

    .navbar {
        height: auto; /*onburger- height: 100vh */
        flex-flow: column;
        position: relative;
        transition: ease-in-out 0.3s;
    }

    .topnav {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }


    .navlinks {
        background-color: #04061c96;
        display: none;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
        width: 90vw;
        margin: 0 5vw 5vw 5vw;
        border: 2px solid #E1E7FB;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        box-shadow: 0 -4px 20px 1px #64ffdb4b;
    }


    .ul, .li {
        font-size: max(30px, 8vw);
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .navspace {
        display: block;
        flex: 1 0;
    }

    .burger{
        height: 69px;
        width: 69px;
        order: 1;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }

    .burger span {
        width: 38px;
        border-top: 3px solid #E1E7FB;
        margin: 4px 0;
    }

}

.ghost {
    display: none;
}