.preload * {
    transition: none;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #04061C;
    margin: 0;
}

body * {
    transition: ease-in-out 1s;
}

.container {
    height: 96vh;
    padding: 2em;
    padding-top: 3em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: "Calibre", -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: clamp(40px, 8vw, 80px);
    color: #E1E7FB;
    text-align: center;
    cursor: pointer;
} 

.title:hover {
    color: #64FFDA;
}

.hline {
    text-align: center;
    width: 50%;
    border-top: 2px solid #64FFDA;
    margin: 0.2em 0;
    margin-bottom: 1em;
}

.vline {
    display: none;
}

.description {
    font-family: "Calibre", -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    font-weight: 500;
    font-size: clamp(20px, 4vw, 40px);
    color: #97A0BE;
    margin-bottom: 0.2em;
}

.navbar {
    height: 45%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;
    margin-top: 1em;
}

.nav{
    color: #64FFDA;
    font-family: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    font-size: 18px;
    font-weight: 200;
    border: 2px solid #64FFDA;
    border-radius: 7px;
    padding: 0.5rem;
    transition-duration: 0.5s;
}

.home {
    background-color: #64ffdbcc;
    color: #04061C;
    font-weight: 300;
    transition-duration: 0.5s;
}

a {
    text-decoration: none;
}

a div:hover {
    color: #64FFDA;
    border-radius: 7px;
    background-color: #64ffdb28;
    transition-duration: 0.5s;
}

footer {
    font-family: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    font-size: 10px;
    text-align: center;
    color: #97A0BE;
}

@media screen and (min-width: 760px) {

    .main-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
    }

    .hline {
        display: none;
    }

    .vline {
        display: block;
        border-right: 5px solid #64FFDA;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
        width: 50px;
        height: 40vh;
        margin-left: 50px;
        margin-right: 25px;
    }

    .container {
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        padding: 2em;
    }

    a {
        display: block;
        margin-right: 20px;
    }

    .navbar {
        flex-flow: row nowrap;
        height: auto;
        width: 48vw;
        margin-bottom: 1em;
        justify-content: flex-start;
        align-items: stretch;
    }

    .navbar > * {
        flex-basis: 1;
        flex-grow: 1;
    }

    footer {
        width: 100%;
    }
}
